{% extends 'ChatApiSamplePrimaryWebBundle:CmsAdmin:layout.html.twig' %}

{% block title %}ダッシュボード{% endblock %}
{% block h1 %}管理画面-ダッシュボード{% endblock %}

{% block main %}
    <h2>ダッシュボード</h2>
    <section class="l-info">
        <dl>
            <dt>ユーザー数：</dt>
            <dd></dd>
            <dt>ユーザー数：</dt>
            <dd></dd>
        </dl>
    </section>
{% endblock %}
